{% extends 'base.html' %}
{% load static %}
{% block title %} Foydalanuvchi parolini tiklash {% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <p> Parolingizni o'zgartirish uchun quyidagi formani to'ldiring: </p>
    {% if validlink %}
        <p>Iltimos yangi parolni 2 marotaba kiriting!</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz yoki linkdan avvalroq foydalangansiz yoki link muddati o'tib ketgan!</p>
    {% endif %}


{% endblock content %}
